<div class="hero_area">
  <div class="hero_bg_box">
    <img src="assets/images/hero-bg.jpg" alt="">
  </div>
  <!-- header section strats -->
<app-header></app-header>
  <!-- end header section -->
  <!-- slider section -->
  <section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h5>
                    01
                  </h5>
                  <h1>
                    Fresh <br />
                    Vegetables
                  </h1>
                  <a href="" class="">
                    buy Now
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h5>
                    02
                  </h5>
                  <h1>
                    Fresh <br />
                    Vegetables
                  </h1>
                  <a href="" class="">
                    buy Now
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel1" data-slide-to="1"></li>
      </ol>
    </div>
  </section>
  <!-- end slider section -->
</div>

<!-- veg section -->
<router-outlet></router-outlet>
<!-- end veg section -->

<!-- about section -->

<section class="about_section ">
  <div class="about_bg_box">
    <img src="assets/images/about-bg.jpg" alt="">
  </div>
  <div class="container ">
    <div class="row">
      <div class="col-md-6 ml-auto ">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              We Provide <br>
              Fresh Vegetables
            </h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad ex, sequi amet similique necessitatibus quas minus repudiandae quae culpa optio ipsum quibusdam praesentium saepe qui dolore voluptate iure sit aut.
          </p>
          <a href="" class="mt_20">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->

<!-- contact section -->
<!-- end contact section -->
<!-- client section -->
<section class="client_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        What Says Our Customers
      </h2>
    </div>
    <div class="col-md-9 col-lg-7 mx-auto px-0">
      <div class="box">
        <div class="b-1">
          <div class="client_id">
            <div class="img-box">
              <img src="assets/images/client-1.jpg" alt="">
            </div>
            <div class="name">
              <h5>
                Maya Jonas
              </h5>
              <h6>
                Housewife
              </h6>
            </div>
          </div>
        </div>
        <div class="client_detail">
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem
          </p>
        </div>
      </div>
      <div class="box">
        <div class="client_id">
          <div class="img-box">
            <img src="assets/images/client-2.jpg" alt="">
          </div>
          <div class="name">
            <h5>
              Helen Law
            </h5>
            <h6>
              Housewife
            </h6>
          </div>
        </div>
        <div class="client_detail">
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem
          </p>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href="">
        View More
      </a>
    </div>
  </div>
</section>
<!-- end client section -->
<!-- footer section -->
<app-footer></app-footer>
<!-- end  footer section -->

